<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>600767698381-5t4f888rsbvtsr5q4dlmgmbnivt1vqc7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.600767698381-5t4f888rsbvtsr5q4dlmgmbnivt1vqc7</string>
	<key>API_KEY</key>
	<string>AIzaSyAEFbYkY5qPP7LRW7uv3frZjs0cKmMzqHg</string>
	<key>GCM_SENDER_ID</key>
	<string>600767698381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.steveshelaiev98.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-c5f71</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-c5f71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600767698381:ios:17cc2c004c40830140e084</string>
	<key>DATABASE_URL</key>
	<string>https://instagramclone-c5f71-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>